<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <img style="max-width:100%;max-height:100%;height:100%;" src="https://bnews.kz/storage/ee/eeb415a5881c2fad8e001eb5fd52b946_crop_l_6_t_3_w_777_h_437_resize_w_525_h_.jpg">
</body>
</html>
